{{response.files.append(URL('static','css/ipo.css'))}}
{{response.files.append(URL('static','js/jquery-2.2.2.min.js'))}}
{{response.files.append(URL('static','bootstrap/css/bootstrap.min.css'))}}
{{response.files.append(URL('static','bootstrap/ipo.css'))}}
{{response.files.append(URL('static','js/ipo.js'))}}
{{include 'web2py_ajax.html'}}


{{group_label = group[0]}}
{{group_identifier = group[1]}}
<div id="table_wrapper_group_{{=group_identifier}}">
<table id="group_{{=group_identifier}}" class = "responsive_table generic_table table table-bordered table-hover ipo_table" >
    <tr class="mobile_hide">
    	 <th><label class="mobile_hide">Company Name </label></th>
    	 <th><label class="mobile_hide">Company Description</label></th>
        	 {{if group_identifier != 'future':}}
    	 	<th><label class="mobile_hide">Expected IPO Date</label></th>
    	 {{pass}}
    	 <th><label class="mobile_hide">Matched Key Words</label></th>
    	 {{if edit:}}
    	 	<th></th>
    	 	<th></th>
    	 {{pass}}
    </tr>

	{{for match in matches:}}
		<tr>
			<td>
			<label class="mobile_show">Company Name</label>

			{{companyUrl = "" }}
			{{if companyUrl != "":}}
				<a target="_blank" href={{=companyUrl}}>{{=match.companyName}} </a>
			{{else:}}
				{{=match.companyName}}
			{{pass}}
			</td>
			<td><label class="mobile_show">Company Description </label><p class="company_description">{{=match.description}}</p></td>
			{{if group_identifier != 'future':}}
				<td><label class="mobile_show">Expected IPO Date</label>{{=match.ipoDate}}</td>
			{{pass}}
			<td><label class="mobile_show">Matched Key Words </label>{{for idx, keyWord in enumerate(match.keyWordMatches):}}
					{{=keyWord}}{{if idx != len(match.keyWordMatches)-1:}},{{pass}}
				{{pass}}
			</td>
			 {{if edit:}}
    	 	<td>
    			<a href="edit/add_company/{{=match.companyId}}"><button type="button" class="btn btn-primary">Edit</button></a>
			</td>
			<td>
				<form action="edit/delete_company" method="post">
    				<button type="submit" name="uuid" value="{{=match.companyId}}" class="btn btn-primary">X</button>
    			</form>
			</td>
    	 	{{pass}}
		</tr>
	{{pass}}
</table>
</div>