{{response.files.append(URL('static','css/ipo.css'))}}
{{response.files.append(URL('static','js/jquery-2.2.2.min.js'))}}
{{response.files.append(URL('static','bootstrap/css/bootstrap.min.css'))}}
{{response.files.append(URL('static','bootstrap/ipo.css'))}}
{{include 'web2py_ajax.html'}}


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Google Ads -->
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2586492056617449",
    enable_page_level_ads: true
  });
</script>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98186626-1', 'auto');
  ga('send', 'pageview');
</script>

<div class="matcher_container container">
	{{if 'message' in globals():}}
		<h2>{{=message}}</h2>
	{{pass}}
	<div class="row">
		<div class="description col-sm-9">
			<p> Search for <b>initial public offerings</b> using <b>keywords</b> that relate to companies going public in the near future!  You can research companies with upcoming IPOs that relate to <b>technologies and industries you believe in</b>.  Search by entering in the text field below - what you are seeing now are all of the upcoming IPOs in the coming months relating to the text below. You can also view ALL upcoming IPOs by clicking "Search All Upcoming IPOs" button.  Use this as a tool to get a pulse on all of companies that have the potential to succeed in the rapidly changing <b>technology driven industries.</b> </p>
		</div>
	</div>
	<div class="row">
		<form action="submit_keyword_input" method="post">
			<div class="col-sm-3">
				<textarea id="text_input" name="text_input" rows="10">{{=text_area_input}}</textarea>
				<button type="submit" name="post_form" value="submit" class="btn btn-primary">Submit</button>
				<button type="submit" name="post_form" value="match_all" class="btn btn-primary">Search All Upcoming IPOs</button>
			</div>
			<div class="col-sm-9">
				{{if 'matches' in globals():}}
				    <!-- LOCAL INFORMATION -->
					{{for group in groups:}}
						{{group_label = group[0]}}
						{{group_identifier = group[1]}}
			
					 	<div class="well">
						    <h3>{{=group_label}}</h3>
						    {{if matches and group_identifier in matches.keys():}}
								{{if len(matches[group_identifier])>0:}}
									<table class = "responsive_table generic_table table table-bordered table-hover ipo_table" >
							            <tr class="mobile_hide">
							            	 <th><label class="mobile_hide">Company Name </label></th>
							            	 <th><label class="mobile_hide">Company Description</label></th>
							            	 <th><label class="mobile_hide">Matched Key Words</label></th>
							            </tr>
										{{for match in matches[group_identifier]:}}
											<tr>
												<td><label class="mobile_show">Company Name  </label>{{=match['company_name']}}</td>
												<td><label class="mobile_show">Company Description </label>{{=match['description']}}</td>
												<td><label class="mobile_show">Matched Key Words </label>{{for idx, keyWord in enumerate(match['keyWordMatches']):}}
														{{=keyWord}}{{if idx != len(match['keyWordMatches'])-1:}},{{pass}}
													{{pass}}
												</td>
											</tr>
										{{pass}}
									</table>
								{{else:}}
									No matches
								{{pass}}
							{{else:}}
								Did not search for {{=group_label.lower()}}
							{{pass}}
						</div>
					{{pass}}
				{{pass}}
			</div>
		</form>
	</div>
	<div class="row">
		<div id="footer" class="col-sm-12">
			<p>Note this app relies on information pulled from various private and public market and news web resources.  Although this is an extremely helpful tool, make sure to use other resources research on these companies!<p>
		</div>
	</div>
</div>