{{response.files.append(URL('static','css/ipo.css'))}}
{{response.files.append(URL('static','js/jquery-2.2.2.min.js'))}}
{{response.files.append(URL('static','bootstrap/css/bootstrap.min.css'))}}
{{response.files.append(URL('static','bootstrap/ipo.css'))}}
{{response.files.append(URL('static','js/ipo.js'))}}
{{include 'web2py_ajax.html'}}

<head>
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-98186626-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- Google As -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-2586492056617449",
	    enable_page_level_ads: true
	  });
	</script>
</head>

<div class="matcher_container container">
	{{if 'message' in globals():}}
		<h2>{{=message}}</h2>
	{{pass}}
	<div class="row">
		<form action="submit_keyword_input" method="post">
			<div class="col-sm-3">
				<textarea id="text_input" name="text_input" rows="10">{{=text_area_input}}</textarea>
				<button type="submit" name="post_form" value="submit" class="btn btn-primary">Submit</button>
				<button type="submit" name="post_form" value="match_all" class="btn btn-primary">Search All Upcoming IPOs</button>
		
			</div>
		</form>
		<div class="col-sm-9"> 
		    <!-- LOCAL INFORMATION -->
		    {{if edit:}}
		    	<a href="edit/add_company"><button type="button" class="add_company btn btn-primary">Add Company</button></a>
		    {{pass}}
			{{for group in groups:}}
				{{group_label = group[0]}}
				{{group_identifier = group[1]}}
	
			 	<div class="well">
				    <h3 class="group_label">{{=group_label}}</h3>
				    <button id="button_{{=group_identifier}}" class="showOrHideGroupButton btn btn-primary" onclick="showOrHideGroupTable(this,group_{{=group_identifier}})">-</button>
				    {{if matches and group_identifier in matches.keys():}}
						{{if len(matches[group_identifier])>0:}}
							<table id="group_{{=group_identifier}}" class = "responsive_table generic_table table table-bordered table-hover ipo_table" >
					            <tr class="mobile_hide">
					            	 <th><label class="mobile_hide">Company Name </label></th>
					            	 <th><label class="mobile_hide">Company Description</label></th>
        	 		            	 {{if group_identifier != 'future':}}
					            	 	<th><label class="mobile_hide">Expected IPO Date</label></th>
					            	 {{pass}}
					            	 <th><label class="mobile_hide">Matched Key Words</label></th>
					            	 {{if edit:}}
					            	 	<th></th>
					            	 	<th></th>
					            	 {{pass}}
					            </tr>
								{{for match in matches[group_identifier]:}}
									<tr>
										<td>
										<label class="mobile_show">Company Name</label>
										{{companyUrl = urlHandler.getCompanyUrl(group_identifier,match)}}
										{{if companyUrl != "":}}
											<a target="_blank" href={{=companyUrl}}>{{=match.companyName}} </a>
										{{else:}}
											{{=match.companyName}}
										{{pass}}
										</td>
										<td><label class="mobile_show">Company Description </label><p class="company_description">{{=match.description}}</p></td>
										{{if group_identifier != 'future':}}
											<td><label class="mobile_show">Expected IPO Date</label>{{=match.ipoDate}}</td>
										{{pass}}
										<td><label class="mobile_show">Matched Key Words </label>{{for idx, keyWord in enumerate(match.keyWordMatches):}}
												{{=keyWord}}{{if idx != len(match.keyWordMatches)-1:}},{{pass}}
											{{pass}}
										</td>
										 {{if edit:}}
					            	 	<td>
					            			<a href="edit/add_company/{{=match.companyId}}"><button type="button" class="btn btn-primary">Edit</button></a>
										</td>
										<td>
											<form action="edit/delete_company" method="post">
					            				<button type="submit" name="uuid" value="{{=match.companyId}}" class="btn btn-primary">X</button>
					            			</form>
										</td>
					            	 	{{pass}}
									</tr>
								{{pass}}
							</table>

	<!-- 						{{if not show_past and group_identifier == 'past':}}
							    <script>
					    			showOrHideGroupTable(document.getElementById("button_{{=group_identifier}}"),
					    			document.getElementById("group_{{=group_identifier}}"))
					    		</script>
					    	{{pass}} -->
						{{else:}}
							No matches
						{{pass}}
					{{else:}}
						Did not search for {{=group_label.lower()}}
					{{pass}}
				</div>
			{{pass}}

		</div>
	</div>
</div>